.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('./../../Assets/scoreboard-bg.jpg');
    /* background: linear-gradient(179deg, #58158c 0%, #e8c3ff 100%); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 50px 50px;
    min-height: 377px;
}

.score {
    /* border: 6px solid rgba(128, 128, 128, 0.345); */
    font-size: 1.2rem;
    color: #A45EDA;
    background-color: white;
    border-radius: 50%;
    padding: 3rem 1.8rem;
    margin: 2rem;
    font-weight: 600;
    text-align: center;
}

.score span {
    font-size: 2.3rem;
}

.point-table {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0px 20px;
    justify-content: center;
    /* border: 2px solid red; */
    background-color: aliceblue;
    color: black;
    border-radius: 15px;
    max-width: 430px;
    position: relative;
    top: 82px;
}

.semi-table {
    margin: 8px 6px;
    padding: 6px 12px;
    display: flex;
    width: 155px;
    align-items: baseline;
    /* border: 4px dotted aqua; */
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.point {
    font-size: 1.2rem;
    font-weight: 600;
}

.point-info {
    /* font-size: 1rem; */
    font-size: 15px;
    font-weight: 400;
}

.footer {
    /* position: fixed; */
    height: 15rem;
    bottom: 25px;
    text-align: center;
    padding-top: 4rem;
    /* border: 2px solid yellowgreen; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-btn {
    color: white;
    border-radius: 50%;
    padding: 12px 13px;
    font-size: 1.8rem;
    text-decoration: none;
    margin: 0px 15px;
}

.home-btn:hover {
    background-color: rgba(236, 185, 255, 0.638) !important;
    cursor: pointer;
}

.footer-text{
    font-size: 11px;
}

